@import "./_colors.scss";

// Slider
    .slider {
        -webkit-appearance: none;
        width: 100%;
        height: 15px;
        background: transparent;
        outline: none;
        border-radius: 2px;
        width: 100%;
        cursor: pointer;
        position: relative;
    }

    .slider-bar {
        position: absolute;
        height: 2px;
        width: calc(100% - 33px);
        background-color: $dark;
        right: 0;
        top: calc(50% - 1px);
        border-radius: 2px;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 8px;
        height: 8px;
        background: $white;
        border: 0;
        box-shadow: 0 0 5px $dark;
        border-radius: 50%;
        cursor: pointer;
    }

    .slider::-moz-range-thumb {
        width: 8px;
        height: 8px;
        background: $white;
        border: 0;
        box-shadow: 0 0 5px $dark;
        border-radius: 50%;
        cursor: pointer;
    }
// .Slider