@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

@import "../css/normalize.css";
@import "./_colors.scss";

* {
    box-sizing: border-box;
    
    // Scroll
        // Firefox
            scrollbar-color: $dark3 transparent;
            scrollbar-width: thin;
        // .Firefox

        // Chrome
            ::-webkit-scrollbar {
                width: 2px;
            }
            
            ::-webkit-scrollbar-track {
                background: transparent;
            }
            
            ::-webkit-scrollbar-thumb {
                background: $dark3;
                border-radius: 15px;
            }
        // .Chrome
    // .Scroll
    
    &:active,
    &:focus {
        outline: 0;
    }
}

html, body {
    background-color: $dark;
}

.app {
    /**** Media ****/
        @media screen and (max-width: 1180px) {
            &:not(.app--is-login) {
                grid-template-columns:
                [content-start] 1fr;

                grid-template-rows:
                [header-start] 80px
                [content-start] 1fr
                [player-start] 80px;

                .content {
                    grid-column: content-start / span 2;
                    grid-row: content-start / player-start;
                    padding: 20px 10px;
                    max-height: calc(100vh - 160px);
                }
            }

            .page {
                padding-bottom: 40px;
            }
        }

        @media screen and (max-width: 900px) {
            .card-list {
                grid-template-columns: repeat(3, 1fr);
            }
        }

        @media screen and (max-width: 780px) {
            .logo {
                width: 38px;
                height: 38px;
            }
        }

        @media screen and (max-width: 680px) {
            .card-list {
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 30px 10px;
            }
        }

        @media screen and (max-width: 540px) {
            .logo {
                width: 92px;
                background-size: 800px;
                background-position: -132px -268px;
                height: 28px;
            }

            .input {
                height: 36px;
                padding: 10px 15px;
                font-size: 12px;
            }
        }

        @media screen and (max-width: 480px) {
            .card-list {
                grid-template-columns: 1fr;
                grid-gap: 40px;
            }
        }
    /**** .Media ****/
}